{% extends "base.html" %}

{% block content %}
    <div class="flex flex-col justify-center items-center mt-36 mb-10 mx-10">
        <ul class="flex flex-col justify-center items-center" >
              <li class="bg-[#f5e3d8] p-6 rounded-lg shadow-md w-[350px] md:w-[384px] h-[460px]">
                  <h2 class="text-2xl font-bold text-[#db5d41] mb-2 text-center">{{ right_game.name }}</h2>
                  <p class="text-lg font-medium text-[#db5d41] text-center">{{ right_game.numberofpeople }}</p>
                  <p class="text-lg font-medium text-[#db5d41] text-center mb-4">{{ right_game.genre }}</p>
                  <div class="bg-white p-4 text-center rounded-md mb-4">
                      <p class="text-lg font-medium text-[#db5d41]">{{ right_game.content }}</p>
                  </div>
                  <div class="bg-white p-2 text-center rounded-md">
                      <p class="text-lg font-semibold text-[#db5d41]">{{ right_game.point }}</p>
                  </div>
                  <a href="{{ right_game.url }}" class="block text-center text-[#db5d41] mt-4">ボドゲ―マで詳細をチェック</a>
              </li>
        </ul>
    </div>
    <div class="flex justify-center items-center mb-10">
        <button type="button" class="w-36 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2">
          <a href="{{ url_for('right') }}">もう一回</a>
        </button>
        <button type="button" class="w-36 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2">
          <a href="{{ url_for('index') }}">戻る</a>
        </button>
    </div>
{% endblock %}